:root {
  --primaryFont: 'Roboto', sans-serif;
  --secondaryFont: 'Raleway', sans-serif;

  --activeLinkColor: #2196f3;
  --primaryTextColor: #757575;
  --secondaryTextColor: #212121;
  --whiteTextColor: #ffffff;

  --transitionColor: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transitionBg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primaryFont);
  letter-spacing: 0.03em;
  color: var(--primaryTextColor);
  background-color: var(--whiteTextColor);
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* +++++++ COMPONENTS +++++++ */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-icon {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  color: #000000;
  background-color: #ffffff;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: var(--transitionColor);

  cursor: pointer;
}

.modal-icon-close {
  fill: currentColor;
}

.modal-icon:hover,
.modal-icon:focus {
  color: var(--activeLinkColor);
}

.modal .signup-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
}

.form-title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondaryTextColor);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  color: var(--primaryTextColor);
}

.input-wrapper {
  position: relative;
  color: var(--secondaryTextColor);
}

.form-icon {
  position: absolute;
  top: 11px;
  left: 12px;

  fill: currentColor;
}

.form-field-title {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  min-height: 40px;
  padding-left: 42px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-comment:focus {
  border: 1px solid var(--activeLinkColor);
  outline: none;
}

.form-input + .form-icon {
  color: var(--secondaryTextColor);

  transition: var(--transitionColor);
}

.form-input:focus + .form-icon {
  color: var(--activeLinkColor);
}

.form-comment {
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-subscription-input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-subscription-input:checked + .form-subsription-icon {
  background-color: var(--activeLinkColor);
  border: var(--activeLinkColor);
  fill: var(--whiteTextColor);
}

.form-subsription-icon {
  fill: none;
  margin-right: 7px;
  border: 2px solid var(--secondaryTextColor);
  border-radius: 2px;
}

.form-subscription-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  cursor: pointer;
}

.form-contract-link {
  color: var(--activeLinkColor);
  margin-left: 5px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link.active,
.header-link.link:hover,
.header-link.link:focus {
  color: var(--activeLinkColor);
}

.btn:hover,
.btn:focus {
  color: var(--whiteTextColor);

  background-color: var(--activeLinkColor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.suptitle {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondaryTextColor);
}

.subtitle {
  font-weight: 700;
  color: var(--secondaryTextColor);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* +++++++ COMPONENTS END +++++++ */

/* +++++++ HEADER +++++++ */

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav,
.header-nav-menu,
.header-auth,
.header .container {
  display: flex;
  align-items: center;
}

.header-nav .logo {
  margin-right: 93px;
}

.header-item .header-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav .header-item:not(:last-child) {
  margin-right: 50px;
}

.header-auth {
  margin-left: auto;
}

.header-auth .header-item:not(:first-child) {
  margin-left: 50px;
}

.logo {
  font-family: var(--secondaryFont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-part {
  color: var(--activeLinkColor);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondaryTextColor);

  transition: var(--transitionColor);
}

.link.active::after {
  content: '';

  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;

  background: #2196f3;
  border-radius: 2px;
}

.header-auth .header-link {
  display: inline-flex;
  align-items: center;

  color: var(--primaryTextColor);

  transition: var(--transitionColor);
}

.header-item {
  font-size: 14px;
  line-height: 1.14;
}

.header-icon {
  margin-right: 10px;

  fill: currentColor;
}

.header-link:hover .header-icon,
.header-link:focus .header-icon {
  color: var(--activeLinkColor);
}
/* +++++++ HEADER END +++++++ */

/* +++++++ HERO +++++++ */

.hero {
  background-color: #2f303a;
}

.hero .container {
  padding: 200px 252px;

  text-align: center;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--whiteTextColor);
}

.hero-btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whiteTextColor);

  background-color: var(--activeLinkColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  transition: var(--transitionBg);

  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* +++++++ HERO END +++++++ */

/* +++++++ FEATURES +++++++ */

.features.section {
  padding-bottom: 47px;
}

.features-item-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.features-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.features-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.features-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

/* +++++++ FEATURES END +++++++ */

/* +++++++ TEAM PRODUCTION +++++++ */

.about.section {
  padding-top: 47px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about-list-item {
  position: relative;

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.about-list-desc {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--whiteTextColor);
  background-color: rgba(47, 48, 58, 0.8);
}

/* +++++++ TEAM PRODUCTION END +++++++ */

/* +++++++ TEAM +++++++ */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondaryTextColor);
}

.team-list-desc {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primaryTextColor);
}

.team-list-heading {
  padding: 30px 32px;
}

.icon-list-messenger {
  display: flex;
}

.icon-app:not(:last-child) {
  margin-right: 10px;
}

.icon-app-messenger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: #afb1b8;

  transition: var(--transitionBg), var(--transitionColor);

  border-radius: 50%;
}

.team-list-heading .icon-app-messenger:hover,
.team-list-heading .icon-app-messenger:focus {
  background-color: var(--activeLinkColor);
  color: var(--whiteTextColor);
}

.icon-app .icon-messenger {
  fill: currentColor;
}

/* +++++++ TEAM END +++++++ */

/* +++++++ CLIENTS +++++++ */

.clients-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.clients-list-item {
  display: flex;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
  align-items: center;
  justify-content: center;
}

.clients-list-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;

  color: #afb1b8;

  transition: var(--transitionColor),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-list-link:hover,
.clients-list-link:focus {
  color: var(--activeLinkColor);

  border-color: var(--activeLinkColor);
}

.icon-client {
  fill: currentColor;
}

/* +++++++ CLIENTS END +++++++ */

/* +++++++ SERVICES +++++++ */

.projects {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-btn:not(:last-child) {
  margin-right: 8px;
}

.btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondaryTextColor);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;

  transition: var(--transitionColor), var(--transitionBg),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.cards-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.cards-list-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-list-item:hover,
.cards-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-list-thumb {
  position: relative;
  overflow: hidden;
}

.cards-list-overlay {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--whiteTextColor);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.cards-list-item:hover .cards-list-overlay,
.cards-list-item:focus .cards-list-overlay {
  opacity: 1;
  transform: translateY(-100%);
}

.cards-list-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-list-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primaryTextColor);
}

.sub-desc {
  padding: 20px 24px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

abbr[title='label tag'] {
  text-decoration: none;
}

/* +++++++ SERVICES END +++++++ */

/* +++++++ FOOTER +++++++ */

.logo.bottom {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--whiteTextColor);
}

.footer {
  background-color: #2f303a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
}

.address-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-list-link-gmaps {
  color: var(--whiteTextColor);
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-link {
  display: inline-block;

  color: rgba(255, 255, 255, 0.6);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-links-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--whiteTextColor);
}

.footer-join-links {
  margin-right: 93px;
}

.footer-join-links .icon-app-messenger {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.1);
}

.footer-join-links .icon-app-messenger:hover,
.footer-join-links .icon-app-messenger:focus {
  background-color: var(--activeLinkColor);
}

.signup-title {
  display: block;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--whiteTextColor);
}

.signup-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 28px 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whiteTextColor);

  background-color: var(--activeLinkColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  cursor: pointer;
}

.signup-icon {
  margin-left: 10px;
  fill: currentColor;
}

.signup-input {
  width: 358px;
  height: 50px;

  padding: 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.signup-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.signup-input:not(:placeholder-shown) {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* +++++++ FOOTER END +++++++ */
