@import './utils/variables';
@import './base/reset.scss';
@import './utils/placeholders';
@import './utils/visually-hidden';
@import './utils/mixins';

/* +++++++ COMPONENTS +++++++ */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo--colored {
  color: var(--activeLinkColor);
}

/* +++++++ COMPONENTS END +++++++ */

/* +++++++ HEADER +++++++ */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container,
.page-header__site-nav,
.page-header__list {
  display: flex;
  align-items: center;
}

.page-header__list--end {
  margin-left: auto;
}

.page-header__logo {
  margin-right: 93px;
}

.page-header__item {
  font-size: 14px;
  line-height: 1.14;
}

.page-header__item--left {
  margin-right: 50px;
}

.page-header__item--right {
  margin-left: 30px;
}

.page-header__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondaryTextColor);

  transition: var(--transitionColor);
}

.page-header__link--active,
.page-header__link:hover,
.page-header__link:focus {
  color: var(--activeLinkColor);
}

.page-header__link--active::after {
  content: '';
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;

  background-color: #2196f3;
  border-radius: 2px;
}

.page-header__link--auth {
  display: inline-flex;
  align-items: center;

  color: var(--primaryTextColor);

  transition: var(--transitionColor);
}

.page-header__icon {
  margin-right: 10px;
}

/* +++++++ HEADER END +++++++ */

/* +++++++ HERO +++++++ */

.hero {
  background-color: #2f303a;
}

.hero__container {
  padding: 200px 252px;

  text-align: center;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--whiteTextColor);
}

.hero__button {
  padding: 10px 32px;

  transition: var(--transitionBg);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}

/* +++++++ HERO END +++++++ */

/* +++++++ FEATURES +++++++ */

.features {
  padding-bottom: 47px;
}

.features__list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.features__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.features__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* +++++++ FEATURES END +++++++ */

/* +++++++ PRODUCTION +++++++ */

.production {
  padding-top: 47px;
}

.production__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.production__item {
  position: relative;

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.production__desc {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--whiteTextColor);
  background-color: rgba(47, 48, 58, 0.8);
}

/* +++++++ PRODUCTION END +++++++ */

/* +++++++ TEAM +++++++ */

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondaryTextColor);
}

.team__desc {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primaryTextColor);
}

.team__meta {
  padding: 30px 32px;
}

.messenger-list {
  display: flex;
  justify-content: space-between;
}

.messenger-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #afb1b8;

  transition: var(--transitionBg), var(--transitionColor);

  border-radius: 50%;
}

.messenger-list__link:hover,
.messenger-list__link:focus {
  background-color: var(--activeLinkColor);
  color: var(--whiteTextColor);
}

/* +++++++ TEAM END +++++++ */

/* +++++++ CLIENTS +++++++ */

.clients__list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.clients__item {
  display: flex;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
  align-items: center;
  justify-content: center;
}

.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: #afb1b8;

  transition: var(--transitionColor),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--activeLinkColor);

  border-color: var(--activeLinkColor);
}

/* +++++++ CLIENTS END +++++++ */

/* +++++++ SERVICES +++++++ */

.filters__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondaryTextColor);
  background-color: #f5f4fa;
  box-shadow: none;

  transition: var(--transitionColor), var(--transitionBg),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover,
.filters__button:focus {
  color: var(--whiteTextColor);

  background-color: var(--activeLinkColor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.cards__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.cards__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__link:hover,
.cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__thumb {
  position: relative;
  overflow: hidden;
}

.cards__overlay {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--whiteTextColor);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.cards__item:hover .cards__overlay,
.cards__item:focus .cards__overlay {
  opacity: 1;
  transform: translateY(-100%);
}

.cards__footer {
  padding: 20px 24px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.cards__subtitle {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primaryTextColor);
}

abbr[title='label tag'] {
  text-decoration: none;
}

/* +++++++ SERVICES END +++++++ */

/* +++++++ FOOTER +++++++ */

.footer {
  background-color: #2f303a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrapper {
  margin-right: 70px;
}

.footer__address {
  font-style: normal;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--whiteTextColor);
}

.footer__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__link--gmaps {
  color: var(--whiteTextColor);
}

.footer__item--last {
  margin-bottom: 0;
}

/* .messenger-list__wrapper {
  margin-right: 93px;
} */

.footer__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--whiteTextColor);
}

.messenger-list__item--footer {
  margin-right: 10px;
}

.messenger-list__link--footer {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.1);
}

.messenger-list__link--footer:hover,
.messenger-list__link--footer:focus {
  background-color: var(--activeLinkColor);
}

.form-signup {
  margin-left: auto;
}

.form-signup__subtitle {
  display: block;
}

.form-signup__input {
  width: 358px;
  height: 50px;

  padding: 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.form-signup__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.form-signup__input:not(:placeholder-shown) {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.form-signup__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 28px 10px 29px;
}

.form-signup__icon {
  margin-left: 10px;
}

/* +++++++ FOOTER END +++++++ */

/* +++++++ MODAL +++++++ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__icon {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  color: #000000;
  background-color: #ffffff;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: var(--transitionColor);

  cursor: pointer;
}

.modal__icon:hover,
.modal__icon:focus {
  color: var(--activeLinkColor);
}

.form-submit__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondaryTextColor);
}

.form-submit__label {
  display: inline-block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-submit__field {
  position: relative;

  margin-bottom: 10px;

  color: var(--secondaryTextColor);
}

.form-submit__input {
  height: 40px;
  padding-left: 42px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit__comment {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-submit__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: var(--transitionColor);
}

.form-submit__input:focus,
.form-submit__comment:focus {
  border: 1px solid var(--activeLinkColor);
  outline: none;
}

.form-submit__input:focus + .form-submit__icon {
  color: var(--activeLinkColor);
}

.form-submit__agreement {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  cursor: pointer;
}

.form-submit__input--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-submit__icon--checked {
  fill: none;
  border: 2px solid var(--secondaryTextColor);
  border-radius: 2px;
  margin-right: 7px;
}

.form-submit__input--hidden:checked + .form-submit__icon--checked {
  background-color: var(--activeLinkColor);
  border: var(--activeLinkColor);
  fill: var(--whiteTextColor);
}

.form-submit__link {
  color: var(--activeLinkColor);
}

.form-submit__button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
}

/* +++++++ MODAL END +++++++ */
