body {
  font-family: var(--primaryFont);
  letter-spacing: 0.03em;
  color: var(--primaryTextColor);
  background-color: var(--whiteTextColor);
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.icon {
  fill: currentColor;
}

.logo {
  font-family: var(--secondaryFont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.subtitle {
  font-weight: 700;
  color: var(--secondaryTextColor);
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--whiteTextColor);

  background-color: var(--activeLinkColor);

  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}
